services:
  app:
    image: rockship/fastapi-seed
    container_name: fastapi-seed-backend
    restart: always
    build:
      context: ..
      dockerfile: docker/Dockerfile
    environment:
      - ENV=development
      - SQLALCHEMY_DATABASE_URI=postgresql+asyncpg://postgres:thangcho@localhost:5432/fastapi-seed
    network_mode: "host"
    volumes:
      - ../:/app

  postgres:
    image: postgres
    container_name: fastapi-seed-postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: thangcho
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:6.2.7
    container_name: fastapi-seed-redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis:/var/lib/redis/data
    environment:
      - REDIS_URL=redis://127.0.0.1:6379/0

volumes:
  pgdata:
    external: true
    name: pgdata

  redis:
    external: true
    name: redisdata
