<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ project_name }} - API</title>
    <link rel="shortcut icon" href="{{root_path}}/static/favicon.svg" type="image/svg+xml" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" href="{{root_path}}/static/style.css" />
  </head>
  <body>
    <!-- Header Section -->
    <header class="header-container">
      <a href="/" title="Refresh Page">
        <img src="{{root_path}}/static/favicon.svg" alt="{{ project_name }} Logo" class="logo" />
      </a>
      {% for sub_app in sub_apps %}
      <a class="header-item" href="{{ sub_app.root_path }}">
        <i class="fas fa-layer-group" style="color: #17a2b8; margin-right: 10px"></i>
        {{ sub_app.title }}
      </a>
      {% endfor %}
    </header>

    <!-- Main Content Container -->
    <div class="container">
      <h1>Welcome to {{ project_name }}</h1>
      <div style="display: flex; flex-direction: column">
        <a class="api-link" href="{{root_path}}/ping"
          ><i class="fas fa-heartbeat" style="color: #ff0000; margin-right: 10px"></i> Check Health (Ping API)</a
        >
        <a class="api-link" href="{{root_path}}/docs"
          ><i class="fas fa-book" style="color: #007bff; margin-right: 10px"></i> API Documentation (Swagger)</a
        >
        <a class="api-link" href="{{root_path}}/redoc"
          ><i class="fas fa-book" style="color: #0d6efd; margin-right: 10px"></i> API Documentation (Redoc)</a
        >
      </div>
    </div>

    <!-- Footer Section -->
    <footer>&copy; 2024 {{ project_name }} | Created by {{ ', '.join(authors) }}</footer>
  </body>
</html>

